<% include ./layouts/header %>

<h1>Yelp Campsites</h1>

<h5>Welcome to a camplistings site</h5>

<a href="/campsites">See all camping grounds</a>
<div>
    <a href="/campsites/new">Add New Campsite</a>
</div>


<% include ./layouts/footer %>