<% include layouts/header %>

<h1>This is the show template!</h1>

<p><%= campground.name %></p>

<img src="<%= campground.image %>" width="800" height="650">

<p><%= campground.description %></p>

<% include layouts/footer %>