<% include ../layouts/header %>

<div class="container">
    <header>
        <div class="jumbotron">
            <h1>Camping Grounds</h1>
            <h4>Handpicked selection of the most popular camsites worldwide</h4>
            <a href="/campsites/new"><button class="btn btn-primary btn-md">Add a new site</button></a>
        </div>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col col-sm-6 col-md-4" style="margin:0 auto;">
            <div class="thumbnail">
                <img src="<%= campground.image %>" width="300" height="250">
                <div class="caption text-center">
                    <h5><%= campground.name %></h5>
                    <a href="/campsites/<%= campground._id %>">More Info</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

</div>

<% include ../layouts/footer%>